 .nav {
margin-top: 0px;
  width: screen-width;
  background: #e9d6b7;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.nav-container {
  max-width: 100%;
  margin: 0 0  0 auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo img {
    height: 8rem;
    width: 11rem;
}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  display: none;
}

.nav-links {
  font-size: medium;
  list-style: none;
  display: flex;
  justify-self: center;
  gap: 4rem;
  align-items: center;
  margin-right: 18rem;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}

.nav-links li:hover {
  color: #8b4513;
}

.btn {
  padding: 8px 16px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  /* margin-right: 16px; */
}
.buttons{
  align-items: center;
  
}

.btn.light {
  background: white;
}

.btn.dark {
  background: #8b4513;
  color: white;
}

@media(max-width: 768px){
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links.open {
    display: flex;
  }
}  
