.about {
  background: #f5ecdc;
  padding: 70px 20px;
  width: screen-width;
  text-align: center;
}

.subtitle {
  color: #555;
  margin-bottom: 40px;
}

.story {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  margin-bottom: 50px;
}

.story img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}

.values {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.values span {
  font-size: 40px;
}

/* Responsive */
@media (max-width: 800px) {
  .story {
    grid-template-columns: 1fr;
  }

  .values {
    flex-direction: column;
  }
}
.story img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.story img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
 
