.menu {
  background: #f5ecdc;
  padding: 80px 20px;
}

.menu-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.menu-container h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.menu-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 50px;
}

/* Menu Grid */
.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* Menu Card */
.menu-item {
  background: #fff;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  background: #e2c496 ;
}

.menu-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 20px;
  color: #666;
  margin-bottom: 15px;
}
.menu-item:hover p{
    color: #fff;
}

/* Price */
.menu-item span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

/* Responsive */
@media (max-width: 600px) {
  .menu-container h2 {
    font-size: 32px;
  }

  .menu-item {
    padding: 25px 20px;
  }
}
