.why {
  padding: 70px 20px;
  background: white;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* Left */
.left {
  background: #b8704dd0;
  color: white;
  border-radius: 18px;
  padding: 35px;
}

.left h3 {
  font-size: 28px;
  margin-bottom: 12px;
}

.left p {
  font-size: 15px;
  opacity: 1;
  margin-bottom: 18px;
  color: #000;
}

.left button {
  background: white;
  color: #000000;
  border: none;
  padding: 10px 22px;
  border-radius: 999px;
  cursor: pointer;
}
.left button:hover {
  background: #fff3e8;
  color: rgb(160, 93, 11);
  transform: translateY(-3px);
}
.left button:active,
.right button:active {
  transform: scale(0.96);
}

/* Right */
.right {
  background: #f3e6d5;
  border-radius: 18px;
  padding: 35px;
  text-align: center;
}

.right h2 {
  margin: 10px 0 12px;
}

.right p {
  font-size: 14px;
  color: #444;
  margin-bottom: 18px;
}

.right button {
  background: #3b2b23;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 999px;
  cursor: pointer;
}
.right button:hover {
  background: #5a3e32;
  color: aliceblue;
  transform: translateY(-3px);
}

/* Responsive */
@media(max-width: 900px){
  .container{
    grid-template-columns: 1fr;
  }
}
